.card {
  margin:auto;
  margin-top:15rem;
}

.card:hover {
  background-color: pink;
}

.cardLoginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color:white;
}

.loginButton {
  background-color: black;
  border:none;
}

.loginButton:hover{
  background-color:black;
  color: rgb(255, 0, 149);
  font-size: x-large;
  font-family: cursive;
}

.logoutButton {
  background-color: black;
  color:white;
  border:none;
}

.logoutButton:hover {
  background-color: white;
  color:black;
  font-weight: bolder;
  font-family: cursive;
}

.formSubmit {
  color:white;
}

.formSubmitButton {
  background-color: black;
  color:rgb(205, 205, 101);
  font-family: cursive;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formSubmitButton:hover {
  background-color: black;
  color: rgb(255, 255, 0);
  font-weight: bolder;
}

.Welcome {
  animation:fadeOutBackground 20s;
  animation-fill-mode: forwards;
}

/* @keyframes fadeInBackground {
  from{background-color:black;}
  to{background-color:pink}
} */

@keyframes fadeOutBackground {
  from{background-color:black;}
  to{background-color:pink}
}

h3 {
  color:white;
}

p {
  color: white;
}

.right {
  display: flex;
  justify-content: right;
  text-align: right;
}
