.card {
  margin:auto;
  margin-top:15rem;
}

.card:hover {
  background-color: pink;
}

.cardLoginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color:white;
}

.loginButton {
  background-color: black;
}

.loginButton:hover{
  background-color:black;
  color: rgb(255, 0, 149);
  font-size: x-large;
  font-family: cursive; 
}

.logoutButton {
  background-color: black;
  color:white;
}

.logoutButton:hover {
  background-color: white;
  color:black;
  font-weight: bolder;
  font-family: cursive;
}

.formSubmit {
  
}

 body {
  background-color: black;
}
