.webName {
  font-size:xx-large;
  font-weight:900;
  color:aliceblue;
}

.webName:hover {
  color: white;
}

.links {
  display:flex;
  justify-content: space-between;
}

.nav-link {
  color:aliceblue;
}

.nav-link:hover {
  color:rgb(153, 255, 0);
  font-size:large;
  font-weight: bolder;
}

.slideShowImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 500px;
}

.footerText {
  color: white;
  font-weight: bolder;
}

.footerText:hover {
  color: white;
}

.ExploreButton {
  color:rgb(243, 207, 140);
  background-color: black;
  border: none;
}

.ExploreButton:hover {
  color:orange;
  background-color: black;
  font-weight: bolder;
}

li {
  list-style: none;
}

body {
  /* background-image: url(./image/bar.jpg); */
  background-color: black;
}
